body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Company_Header_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:100px;
    top:20px;
    width:940px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:66px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:100px;
    top:20px;
    width:940px;
    height:60px
}

.u2_original {
    background-image: url('../Company_Header_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:114px;
    top:30px;
    width:120px;
    height:40px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:40px;
}

.u3 {
    position:absolute;
    left:2px;
    top:12px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:114px;
    top:30px;
    width:120px;
    height:40px
}

.u4_original {
    background-image: url('../Company_Header_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:260px;
    top:36px;
    width:100px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:260px;
    top:36px;
    width:100px;
    height:30px
}

.u6_original {
    background-image: url('../Company_Header_files/u4_original.png');
}

.u6_container {
    position:absolute;
    left:490px;
    top:36px;
    width:100px;
    height:30px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u7 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:490px;
    top:36px;
    width:100px;
    height:30px
}

.u8_original {
    background-image: url('../Company_Header_files/u4_original.png');
}

.u8_container {
    position:absolute;
    left:376px;
    top:36px;
    width:100px;
    height:30px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u9 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:376px;
    top:36px;
    width:100px;
    height:30px
}

.u10_text {
    position:absolute;
    left:970px;
    top:52px;
    width:60px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:970px;
    top:52px;
    width:60px;
    height:15px
}

.u11 {
    position:absolute;
    left:874px;
    top:30px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_original {
    background-image: url('../Company_Header_files/u4_original.png');
}

.u12_container {
    position:absolute;
    left:607px;
    top:37px;
    width:100px;
    height:30px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u13 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:607px;
    top:37px;
    width:100px;
    height:30px
}

.u15_original {
    background-image: url('../Set_Culture_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:100px;
    top:90px;
    width:940px;
    height:580px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:586px;
}

.u16 {
    position:absolute;
    left:2px;
    top:282px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:100px;
    top:90px;
    width:940px;
    height:580px
}

.u17_original {
    background-image: url('../Site_Footer_files/u44_original.png');
}

.u17_container {
    position:absolute;
    left:100px;
    top:680px;
    width:940px;
    height:60px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:66px;
}

.u18 {
    position:absolute;
    left:2px;
    top:22px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:100px;
    top:680px;
    width:940px;
    height:60px
}

.u19 {
    position:absolute;
    left:120px;
    top:704px;
    width:280px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:531px;
    top:703px;
    width:80px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:641px;
    top:703px;
    width:80px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:731px;
    top:703px;
    width:80px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:831px;
    top:703px;
    width:62px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:925px;
    top:702px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../Site_Footer_files/u52_line.png');
}

.u25_line {
    position:absolute;
    left:625px;
    top:696px;
    width:3px;
    height:30px;
}

.u25 {
    position:absolute;
    left:625px;
    top:696px;
    width:3px;
    height:30px
}

.u26_line {
    background-image: url('../Site_Footer_files/u53_line.png');
}

.u26_line {
    position:absolute;
    left:712px;
    top:697px;
    width:3px;
    height:30px;
}

.u26 {
    position:absolute;
    left:712px;
    top:697px;
    width:3px;
    height:30px
}

.u27_line {
    background-image: url('../Site_Footer_files/u54_line.png');
}

.u27_line {
    position:absolute;
    left:812px;
    top:696px;
    width:3px;
    height:30px;
}

.u27 {
    position:absolute;
    left:812px;
    top:696px;
    width:3px;
    height:30px
}

.u28_line {
    background-image: url('../Site_Footer_files/u55_line.png');
}

.u28_line {
    position:absolute;
    left:905px;
    top:697px;
    width:3px;
    height:30px;
}

.u28 {
    position:absolute;
    left:905px;
    top:697px;
    width:3px;
    height:30px
}

.u30_original {
    background-image: url('../Culture_Sliders_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:310px;
    top:359px;
    width:220px;
    height:9px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:15px;
}

.u31 {
    position:absolute;
    left:2px;
    top:-4px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:310px;
    top:359px;
    width:220px;
    height:9px
}

.u32_original {
    background-image: url('../Culture_Sliders_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:310px;
    top:359px;
    width:100px;
    height:10px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:16px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-3px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:310px;
    top:359px;
    width:100px;
    height:10px
}

.u34_original {
    background-image: url('../Culture_Sliders_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:398px;
    top:354px;
    width:20px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:398px;
    top:354px;
    width:20px;
    height:20px
}

.u36_original {
    background-image: url('../Culture_Sliders_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:540px;
    top:353px;
    width:30px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:540px;
    top:353px;
    width:30px;
    height:20px
}

.u38_original {
    background-image: url('../Culture_Sliders_files/u30_original.png');
}

.u38_container {
    position:absolute;
    left:310px;
    top:394px;
    width:220px;
    height:9px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:15px;
}

.u39 {
    position:absolute;
    left:2px;
    top:-4px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:310px;
    top:394px;
    width:220px;
    height:9px
}

.u40_original {
    background-image: url('../Culture_Sliders_files/u40_original.png');
}

.u40_container {
    position:absolute;
    left:310px;
    top:394px;
    width:164px;
    height:10px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:170px;
    height:16px;
}

.u41 {
    position:absolute;
    left:2px;
    top:-3px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:310px;
    top:394px;
    width:164px;
    height:10px
}

.u42_original {
    background-image: url('../Culture_Sliders_files/u34_original.png');
}

.u42_container {
    position:absolute;
    left:464px;
    top:389px;
    width:20px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:464px;
    top:389px;
    width:20px;
    height:20px
}

.u44_original {
    background-image: url('../Culture_Sliders_files/u36_original.png');
}

.u44_container {
    position:absolute;
    left:540px;
    top:388px;
    width:30px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:540px;
    top:388px;
    width:30px;
    height:20px
}

.u46_original {
    background-image: url('../Culture_Sliders_files/u30_original.png');
}

.u46_container {
    position:absolute;
    left:310px;
    top:428px;
    width:220px;
    height:9px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:15px;
}

.u47 {
    position:absolute;
    left:2px;
    top:-4px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:310px;
    top:428px;
    width:220px;
    height:9px
}

.u48_original {
    background-image: url('../Culture_Sliders_files/u48_original.png');
}

.u48_container {
    position:absolute;
    left:310px;
    top:428px;
    width:124px;
    height:10px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:16px;
}

.u49 {
    position:absolute;
    left:2px;
    top:-3px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:310px;
    top:428px;
    width:124px;
    height:10px
}

.u50_original {
    background-image: url('../Culture_Sliders_files/u34_original.png');
}

.u50_container {
    position:absolute;
    left:426px;
    top:423px;
    width:20px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:426px;
    top:423px;
    width:20px;
    height:20px
}

.u52_original {
    background-image: url('../Culture_Sliders_files/u36_original.png');
}

.u52_container {
    position:absolute;
    left:540px;
    top:422px;
    width:30px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:540px;
    top:422px;
    width:30px;
    height:20px
}

.u54_original {
    background-image: url('../Culture_Sliders_files/u30_original.png');
}

.u54_container {
    position:absolute;
    left:310px;
    top:461px;
    width:220px;
    height:9px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:15px;
}

.u55 {
    position:absolute;
    left:2px;
    top:-4px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:310px;
    top:461px;
    width:220px;
    height:9px
}

.u56_original {
    background-image: url('../Culture_Sliders_files/u56_original.png');
}

.u56_container {
    position:absolute;
    left:310px;
    top:461px;
    width:210px;
    height:10px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:16px;
}

.u57 {
    position:absolute;
    left:2px;
    top:-3px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:310px;
    top:461px;
    width:210px;
    height:10px
}

.u58_original {
    background-image: url('../Culture_Sliders_files/u34_original.png');
}

.u58_container {
    position:absolute;
    left:513px;
    top:456px;
    width:20px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:513px;
    top:456px;
    width:20px;
    height:20px
}

.u60_original {
    background-image: url('../Culture_Sliders_files/u36_original.png');
}

.u60_container {
    position:absolute;
    left:540px;
    top:455px;
    width:30px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:540px;
    top:455px;
    width:30px;
    height:20px
}

.u62_original {
    background-image: url('../Culture_Sliders_files/u30_original.png');
}

.u62_container {
    position:absolute;
    left:310px;
    top:491px;
    width:220px;
    height:9px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:15px;
}

.u63 {
    position:absolute;
    left:2px;
    top:-4px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:310px;
    top:491px;
    width:220px;
    height:9px
}

.u64_original {
    background-image: url('../Culture_Sliders_files/u64_original.png');
}

.u64_container {
    position:absolute;
    left:310px;
    top:491px;
    width:190px;
    height:10px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:16px;
}

.u65 {
    position:absolute;
    left:2px;
    top:-3px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:310px;
    top:491px;
    width:190px;
    height:10px
}

.u66_original {
    background-image: url('../Culture_Sliders_files/u34_original.png');
}

.u66_container {
    position:absolute;
    left:490px;
    top:486px;
    width:20px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:490px;
    top:486px;
    width:20px;
    height:20px
}

.u68_original {
    background-image: url('../Culture_Sliders_files/u36_original.png');
}

.u68_container {
    position:absolute;
    left:540px;
    top:486px;
    width:30px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:540px;
    top:486px;
    width:30px;
    height:20px
}

.u70 {
    position:absolute;
    left:149px;
    top:351px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71 {
    position:absolute;
    left:149px;
    top:386px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u72 {
    position:absolute;
    left:149px;
    top:420px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u73 {
    position:absolute;
    left:149px;
    top:453px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u74 {
    position:absolute;
    left:149px;
    top:485px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u75_original {
    background-image: url('../Culture_Sliders_files/u30_original.png');
}

.u75_container {
    position:absolute;
    left:310px;
    top:551px;
    width:220px;
    height:9px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:15px;
}

.u76 {
    position:absolute;
    left:2px;
    top:-4px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:310px;
    top:551px;
    width:220px;
    height:9px
}

.u77_original {
    background-image: url('../Culture_Sliders_files/u77_original.png');
}

.u77_container {
    position:absolute;
    left:310px;
    top:551px;
    width:19px;
    height:8px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:14px;
}

.u78 {
    position:absolute;
    left:2px;
    top:-4px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:310px;
    top:551px;
    width:19px;
    height:8px
}

.u79_original {
    background-image: url('../Culture_Sliders_files/u34_original.png');
}

.u79_container {
    position:absolute;
    left:320px;
    top:546px;
    width:20px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:320px;
    top:546px;
    width:20px;
    height:20px
}

.u81_original {
    background-image: url('../Culture_Sliders_files/u36_original.png');
}

.u81_container {
    position:absolute;
    left:540px;
    top:545px;
    width:30px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:540px;
    top:545px;
    width:30px;
    height:20px
}

.u83 {
    position:absolute;
    left:149px;
    top:544px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u84_line {
    background-image: url('../Culture_Sliders_files/u84_line.png');
}

.u84_line {
    position:absolute;
    left:149px;
    top:523px;
    width:420px;
    height:3px;
}

.u84 {
    position:absolute;
    left:149px;
    top:523px;
    width:420px;
    height:3px
}

.u86 {
    position:absolute;
    left:150px;
    top:625px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u87 {
    position:absolute;
    left:185px;
    top:135px;
    width:10px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:293px;
    top:137px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:115px;
    top:103px;
    width:260px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_line {
    background-image: url('../Set_Culture_files/u90_line.png');
}

.u90_line {
    position:absolute;
    left:100px;
    top:164px;
    width:940px;
    height:3px;
}

.u90 {
    position:absolute;
    left:100px;
    top:164px;
    width:940px;
    height:3px
}

.u91 {
    position:absolute;
    left:790px;
    top:115px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u92 {
    position:absolute;
    left:980px;
    top:115px;
    width:40px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u93 {
    position:absolute;
    left:274px;
    top:135px;
    width:10px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:150px;
    top:190px;
    width:300px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:150px;
    top:220px;
    width:420px;
    height:90px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_text {
    position:absolute;
    left:115px;
    top:136px;
    width:70px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:115px;
    top:136px;
    width:70px;
    height:15px
}

.u97_text {
    position:absolute;
    left:206px;
    top:137px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:206px;
    top:137px;
    width:64px;
    height:15px
}

.u98_line {
    background-image: url('../Set_Culture_files/u98_line.png');
}

.u98_line {
    position:absolute;
    left:704px;
    top:190px;
    width:3px;
    height:450px;
}

.u98 {
    position:absolute;
    left:704px;
    top:190px;
    width:3px;
    height:450px
}

.u99 {
    position:absolute;
    left:805px;
    top:255px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:720px;
    top:116px;
    width:60px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

